.row-bloquote {
  background-color: $quote-back;
  margin-top: 90px;
  border-bottom: 12px solid $blue;
}

blockquote {
  outline: 0px solid green;
  max-width: 575px;
	font-family: $font;
  font-weight: 400;
  color: $bloquote-color;
  padding: 55px 0 0 0;
  margin: 0 auto 45px auto;
  border: none;
  position: relative;

  p.quote {
    max-width: 575px;
    min-height: 120px;
  	font-size: 17px;
    line-height: 24px;
    background-color: $white;
    padding-top: 25px;
    padding-left: 72px;
    padding-right: 35px;
    color: $carousel-text-color;
  }

  p.credit {
  	color: $blue;
    font-family: $font;
    font-weight: 300;
  	font-size: 14px;
  	margin-top: 0;
  	padding-left: 20px;
  	line-height: 1.3em;
    margin-left: 50px;
  	position: relative;
  }

  span {
    color: $carousel-text-color;
  }
}

blockquote::before {
	content: '\201D';
	color: $blue;
  font-weight: bold;
	position: absolute;
	top: 60px; left: 20px;
	font-size: 3.5em;
	font-family: serif;
}

blockquote p.credit::before {
	content: '\25E5';
	position: absolute;
  color: $white;
  font-size: 45px;
	top: 0px;
	left: -20px;
}
